{
  "root": true,
  "extends": ["@copiest/eslint-config-copiest/react"],
  "rules": {
      "@typescript-eslint/no-use-before-define": "off",
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "Link" ],
        "specialLink": [ "hrefLeft", "hrefRight" ],
        "aspects": [ "invalidHref", "preferButton" ]
      }],
      "react/jsx-boolean-value": "off"
  },
  "env": {
      "jest/globals": true
  },
  "plugins": ["testing-library", "jest"]
}