@import '$styles/variables.scss';

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 0 $container_side_padding;
    
    // 임시 
    background-color: #efefef;
}

.container > img {
    width: 60px;
}