@import '$styles/variables.scss';

.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 7px 24px;
    transition: background-color .2s ease;

    .inner-container {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wrap-left {
            display: flex;
    
            img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
            }    
    
            .wrap-txt {
                display: flex;
                align-items: center;
                margin-left: 10px;
                font-weight: 300;
                color: var(--adaptiveGrey700);
                
                .txt-emphasize {
                    margin-left: 3px;
                    font-weight: bold;
                    color: var(--adaptiveGrey800);
                }
            }
        }

        .txt-right-menu {
            font-weight: 500;
            color: var(--adaptiveGrey800);
        }
    }

    &.scrolled {
        background-color: var(--bodyBackgroundColor);
        border-bottom-color: rgba(0,27,55,0.1);
    }

    .progress-bar {
        position: absolute;
        bottom: -3px;
        left: 0;
    }
}



