@import '$styles/variables.scss';
@import '$styles/colors.scss';

.container {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    padding: $container_side_padding;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;
    }


    .content {   
        &:hover {
            .txt-title {
                color: $blue500;
            }

            .wrap-img {
                box-shadow: rgb(0 0 33 / 7%) 0px 16px 22.4px 4.8px, rgb(0 0 33 / 5%) 0px 3.2px 16px 0px, rgb(0 0 33 / 7%) 0px 0px 1px 0px;
                transform: translate3D(0, -3%, 0);
                border-radius: 16px;
            }
        }

        .wrap-img {
            margin-bottom: 20px;
            transition: transform 0.2s;
        }

        .date {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.4;
            color: var(--adaptiveGrey500);        
        }
        
        .txt-title {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            color: var(--adaptiveGrey800);
            margin-bottom: 10px;
            transition: 0.2s ease-in-out;
        }

        .txt-tags {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.4;
            color: var(--adaptiveGrey500);
            margin-bottom: 10px;
        }
    }
}

