@import '$styles/variables.scss';

.container {
    margin-top: 100px;
    padding: $container_side_padding;

    .content {
        &:not(:last-child) {
            margin-bottom: 80px;
    
            a {
                display: flex;
                justify-content: space-between;
            }
        }
        
        .date {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.4;
            color: var(--adaptiveGrey500);
            margin-bottom: 10px;
        }
        
        .title {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            color: var(--adaptiveGrey800);
            margin-bottom: 10px;
            transition: all 0.2s ease-in-out 0s;
        }
        
        .description {
            width: 100%;
            font-size: 17px;
            font-weight: 300;
            line-height: 27px;
            color: var(--adaptiveGrey700);
            margin-bottom: 10px;
        }
        
        .wrap-img {
            min-width: 270px;
        }
    }
}

